<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Login</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4" style="width: 100%; max-width: 400px;">
      <h3 class="card-title text-center mb-4">Login</h3>
      
    

      <!-- Mensagem de Erro -->
      <div th:if="${mensagemErro}" class="alert alert-danger">
        <span th:text="${mensagemErro}"></span>
      </div>

      <form action="/login" method="post">
        <!-- Campo de Login -->
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" class="form-control" name="login" id="login" placeholder="Digite seu login" required>
        </div>
        
        <!-- Campo de Senha -->
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" name="senha" id="password" placeholder="Digite sua senha" required>
        </div>
        
        <!-- Botão de Login -->
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
      </form>
      <a href="/trocar_senha" class="text-primary">Esqueci a senha</a>
      <!-- Link para Cadastro -->
      <div class="text-center mt-3">
        <p>Não tem uma conta? <a href="/cadastro" class="text-primary">Faça um cadastro</a></p>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (opcional se precisar de funcionalidades JS do Bootstrap) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
